.md-footer__inner:not([hidden]) {
    display: none
}

.md-typeset .admonition.example,
.md-typeset details.example {
  border-color: rgb(232, 32, 99);
}
.md-typeset .example > .admonition-title,
.md-typeset .example > summary {
  background-color: rgba(232, 32, 99, 0.4);
  border-color: rgb(232, 32, 99);
}
.md-typeset .example > .admonition-title::before,
.md-typeset .example > summary::before {
  background-color: rgb(232, 32, 99);
  -webkit-mask-image: var(--md-admonition-icon--example);
          mask-image: var(--md-admonition-icon--example);
}

.md-typeset .admonition.note,
.md-typeset details.note {
  border-color: rgb(232, 32, 99);
}
.md-typeset .note > .admonition-title,
.md-typeset .note > summary {
  background-color: rgba(232, 32, 99, 0.4);
  border-color: rgb(232, 32, 99);
}
.md-typeset .note > .admonition-title::before,
.md-typeset .note > summary::before {
  background-color: rgb(232, 32, 99);
  -webkit-mask-image: var(--md-admonition-icon--note);
          mask-image: var(--md-admonition-icon--note);
}

.md-typeset .note,
.md-typeset .example {
  font-size: 16px;
}
