.md-footer__inner:not([hidden]) {
	display: none;
}

.md-typeset .example,
.md-typeset .note {
	font-size: 16px;
}

.md-typeset .admonition.example,
.md-typeset .admonition.note,
.md-typeset details.example,
.md-typeset details.note {
	border-color: rgb(232, 32, 99);
}

.md-typeset .example > .admonition-title,
.md-typeset .note > .admonition-title,
.md-typeset .example > summary,
.md-typeset .note > summary {
	background-color: rgba(232, 32, 99, 0.4);
	border-color: rgb(232, 32, 99);
}

.md-typeset .example > .admonition-title::before,
.md-typeset .example > summary::before {
	background-color: rgb(232, 32, 99);
	-webkit-mask-image: var(--md-admonition-icon--example);
	mask-image: var(--md-admonition-icon--example);
}

.md-typeset .note > .admonition-title::before,
.md-typeset .note > summary::before {
	background-color: rgb(232, 32, 99);
	-webkit-mask-image: var(--md-admonition-icon--note);
	mask-image: var(--md-admonition-icon--note);
}
