name: deploy
on:
  push:
    branches:
      - main
jobs:
  deploy:
    if: ${{ !startsWith(github.event.head_commit.message, 'samples') }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: 3.x
      - run: pip install mkdocs-material
      - run: cd mkdocs && mkdocs gh-deploy --force --no-history
